springboot-webservice-soap-server/src/main/resources/xsd1.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:tns="http://schema.ns" targetNamespace="http://schema.ns" 
	elementFormDefault="qualified">

    <xs:element name="messageRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="inputString" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="messageResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="outputString" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>